# Main app framework
streamlit

# Data handling
pandas

# Core AI and Machine Learning libraries
torch
torchvision
ultralytics
sentence-transformers
opencv-python-headless
scikit-learn
faiss-cpu

# LangChain and LLM-related libraries
langchain-community
groq
google-generativeai
python-dotenv

# Document handling
PyPDF2
python-docx